# OS X
.DS_Store

# Emacs
\#*\#
.\#emacs
emacs.d

# Binaries
bin/mvim

irssi/away.log

mutt/cache/
mutt/certificates

ssh/*
!ssh/config

vim/.viminfo*
vim/.nviminfo
vim/view/
vim/spelling*
vim/init.vim

zsh/cache/

Ansible/*.retry
