# OS X
.DS_Store

# Emacs
\#*\#
.\#emacs
emacs.d

# Binaries
bin/mvim

irssi/away.log

mutt/cache/

ssh/known_hosts

vim/.viminfo*
vim/.nviminfo
vim/view/
vim/spelling*
vim/init.vim

zsh/cache/

Ansible/*.retry
