#
# CSS libraries
#

snippet bootstrapcss Minimized
	<link rel="stylesheet" href="${1:http://dev.erynwells.me/tools/}css/bootstrap.min.css" />${0}
snippet bootstrapcss Full
	<link rel="stylesheet" href="${1:http://dev.erynwells.me/tools/}css/bootstrap.css" />${0}

snippet normalize
	<link rel="stylesheet" href="${1:http://dev.erynwells.me/tools/}css/normalize.css" />${0}

#
# JavaScript libraries
#

snippet bootstrapjs Minimized
	<script src="${1:http://dev.erynwells.me/tools/}js/bootstrap.min.js"></script>${0}
snippet bootstrapjs Full
	<script src="${1:http://dev.erynwells.me/tools/}js/bootstrap.js"></script>${0}

snippet jquery Minimized
	<script src="${1:http://dev.erynwells.me/tools/}js/jquery.min.js"></script>${0}
snippet jquery Full
	<script src="${1:http://dev.erynwells.me/tools/}js/jquery.js"></script>${0}
snippet jquery2 Minimized
	<script src="${1:http://dev.erynwells.me/tools/}js/jquery2.min.js"></script>${0}
snippet jquery2 Full
	<script src="${1:http://dev.erynwells.me/tools/}js/jquery2.js"></script>${0}

snippet ember
	<script src="${1:http://dev.erynwells.me/tools/}js/jquery.js></script>${0}
	<script src="${1:http://dev.erynwells.me/tools/}js/handlebars.js></script>${0}
	<script src="${1:http://dev.erynwells.me/tools/}js/ember.js></script>${0}
snippet emberjs
	<script src="${1:http://dev.erynwells.me/tools/}js/ember.js></script>${0}

snippet handlebarsjs
	<script src="${1:http://dev.erynwells.me/tools/}js/handlebars.js></script>${0}
