<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>eryn.system-parameters</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/eryn/bin/system-parameters</string>
        <string>--output</string>
        <string>/Users/eryn/.config/eryn/system_parameters.json</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/eryn</string>
    <key>StandardOutPath</key>
    <string>/Users/eryn/.config/eryn/system_parameters.output.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/eryn/.config/eryn/system_parameters.error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
  </dict>
</plist>
