<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>eryn.offlineimap</string>
    <key>Program</key>
    <string>/usr/local/bin/offlineimap</string>
    <key>StandardOutPath</key>
    <string>/Users/eryn/.offlineimap.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/eryn/.offlineimap.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin</string>
    </dict>
    <key>RunAtLoad</key>
    <true/>
    <key>Debug</key>
    <true/>
    <key>StartInterval</key>
    <integer>120</integer>
  </dict>
</plist>
